/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url("base.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --style_primary:  #ef750b ;
    --style_secondary:   #0584bb  ;
    --style_header_color:  #ef750b ;
    --style_orange:  #0584bb ;
    --style_orange_light:  #2ca4dc ;
    --style_header_button: #e41a80 ;
}


